:root {
  --pseudo-element-width: 500px;
  --pseudo-element-width-sm: 250px;
}

.hero {
  position: relative;
  width: 100%;
  min-height: fit-content;
  padding-left: var(--paddingContainer);
  margin-bottom: var(--paddingContainer);
}

.heroContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: var(--navHeight);
}

.leftSection {
  position: relative;
  width: 50%;
  padding-top: 150px;
  margin-left: 50px;
}

.heroHeader {
  width: var(--pseudo-element-width);
  font-weight: 700;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 2px 2px 16px rgba(117, 115, 115, 0.25);
  will-change: opacity;
}

.heroHeader:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: -16px;
  height: 7px;
  width: var(--pseudo-element-width) !important;
  border: solid 8px #d73838;
  border-color: #d73838 transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(180deg);
}

.heroParagraph {
  width: 100%;
  margin-top: 64px;
  line-height: 2.3;
  letter-spacing: 0.025em;
  text-shadow: 0px 0px 30px rgba(176, 176, 176, 0.25);
  color: rgba(0, 0, 0, 0.75);
  will-change: opacity;
}

.contactBtn {
  margin-top: 48px;
  background-color: transparent;
  color: #d73838;
  border: 2px solid #d73838;
  filter: drop-shadow(0px 0px 50px rgba(215, 56, 56, 0.63));
  transition: 0.3s all ease;
}

.contactBtn:hover {
  background-color: #d73838;
  color: #fff;
  filter: drop-shadow(0px 0px 50px rgba(215, 56, 56, 0.25));
  transition: 0.3s all ease;
}

/* right section*/
.rightSection {
  position: relative; /*trzeba dac relative bo bierze wyzszego rodzica */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.imgMe {
  position: absolute;
  width: 300px;
  height: 425px;
  padding-top: 16px;
  object-fit: contain;
}

.eclipsesWrapper {
  position: absolute;
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eclipseContainer {
  padding: 16px;
}

.redEclipse {
  position: absolute;
}

.redEclipseContainer {
  position: relative;
  bottom: 4.5em;
  right: 50px;
}

.greenEclipse {
  position: absolute;
}

.greenEclipseContainer {
  position: relative;
  top: 13.5em;
}

.purpleEclipse {
  position: absolute;
  flex: 1;
}

.orangeEclipse {
  position: absolute;
}

.orangeEclipseContainer {
  position: relative;
  top: 10em;
}

.animationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -5%;
  margin-top: 50px;
}

.scrollAnimation {
  width: 96px;
  height: auto;
}

/*media queries*/
@media screen and (max-width: 1187px) {
  .heroHeader:before {
    width: var(--pseudo-element-width-sm) !important;
  }
}

@media screen and (max-width: 1090px) {
  .hero {
    flex-direction: column;
    padding-right: var(--paddingContainer);
    padding-left: var(--paddingContainer);
    margin-bottom: 0;
  }

  .leftSection {
    width: 100%;
    margin-left: 0;
    padding-top: 75px;
    padding-bottom: 0;
  }

  .heroHeader:before {
    width: var(--pseudo-element-width) !important;
  }

  .heroSignature {
    align-self: flex-end;
  }

  .rightSection {
    width: 100%;
    height: 100%;

    margin-top: 0;
    margin-bottom: 0;
  }

  .imgMe {
    width: 250px;
    height: auto;
  }

  .eclipse {
    width: 85%;
    height: auto;
    box-shadow: 0px 0px 250px rgba(215, 56, 56, 0.6);
    -webkit-filter: drop-shadow(0px 0px 250px rgba(215, 56, 56, 0.6));
    filter: drop-shadow(0px 0px 250px rgba(215, 56, 56, 0.6));
  }

  .redEclipseContainer {
    position: relative;
    bottom: 5em;
    right: 65%;
  }

  .greenEclipseContainer {
    position: relative;
    top: 11em;
    right: 45%;
  }

  .purpleEclipseContainer {
    position: relative;
    bottom: 10em;
    left: 90%;
  }

  .orangeEclipseContainer {
    position: relative;
    top: 10em;
    left: 115%;
  }
}

@media screen and (max-width: 684px) {
  .hero {
    padding-left: var(--paddingContainerSm);
    padding-right: var(--paddingContainerSm);
  }

  .heroHeader {
    display: block;
    width: var(--pseudo-element-width-sm);
    line-height: 64px;
  }

  .heroHeader:before {
    position: absolute;
    top: 165px;
    left: 0;
    width: var(--pseudo-element-width-sm) !important;
  }

  .leftSection {
    padding-top: 48px;
    margin-top: var(--navHeightSm);
  }

  .rightSection {
    display: none;
  }

  .imgMe {
    width: 200px;
    height: auto;
  }

  .eclipse {
    width: 65%;
    height: auto;
  }
  .eclipsesWrapper {
    background-image: url("../../assets/img/eclipses-bg.png");
    background-position: center;
    background-size: cover;
  }

  .redEclipseContainer {
    display: none;
  }

  .greenEclipseContainer {
    display: none;
  }

  .purpleEclipseContainer {
    display: none;
  }

  .orangeEclipseContainer {
    display: none;
  }

  .animationContainer {
    left: 0;
  }
}

@media screen and (max-width: 300px) {
  .heroHeader {
    width: 100% !important;
    display: inline-block;
    font-size: 32px !important;
  }
  .heroHeader:before {
    width: 100% !important;
  }
}
