:root {
  --pseudo-element-width: 500px;
  --pseudo-element-width-sm: 250px;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  padding-left: var(--paddingContainer);
  padding-right: 50px;
  /* margin-bottom: var(--paddingContainer);*/
}

.leftSection {
  position: relative;
  width: 50%;
  margin-top: var(--navHeight);
  padding-top: 150px;
  margin-left: 50px;
}

.heroHeader {
  width: var(--pseudo-element-width);
  font-weight: 700;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 2px 2px 16px rgba(117, 115, 115, 0.25);
}

.heroHeader:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: -16px;
  height: 7px;
  width: var(--pseudo-element-width) !important;
  border: solid 8px #d73838;
  border-color: #d73838 transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(180deg);
}

.quoteIcon {
  margin-right: 16px;
}

.heroParagraph {
  width: 100%;
  margin-top: 64px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 2.3;
  letter-spacing: 0.025em;

  text-shadow: 0px 0px 30px rgba(176, 176, 176, 0.25);
}

.heroSignature {
  margin-top: 16px;
  text-align: right;
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 237.5%;
  letter-spacing: 0.02em;
  color: rgba(53, 53, 53, 0.75);

  text-shadow: 0px 4px 2px rgba(165, 164, 164, 0.2);
}

/* right section*/
.rightSection {
  position: relative; /*trzeba dac relative bo bierze wyzszego rodzica */
  width: 50%;
  margin-top: var(--navHeight);
  display: flex;
  justify-content: center;
  padding: 50px;

  /*
  margin-left: 5%;
  padding-left: 5%;

  background-image: url("../../assets/img/background-rightsection.png");
  background-position: center;
  background-repeat: no-repeat;
  */
}

.imgMe {
  display: block;
  width: 300px;
  height: 400px;
}

.eclipseContainer {
  padding: 16px;
}

.redEclipse {
  position: absolute;
  top: 15%;
  left: 23%;
}

.greenEclipse {
  position: absolute;
  top: 60%;
  left: 15%;
}

.purpleEclipse {
  position: absolute;
  top: 0%;
  left: 60%;
}

.orangeEclipse {
  position: absolute;
  top: 55%;
  left: 70%;
}

.scrollAnimationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0vh;
  left: var(--paddingContainer);
}

.scrollAnimation {
  width: 96px;
  height: auto;
}
/*
.scrollAnimationP {
  font-weight: 300;
  color: #d9d9d9;
}

@media screen and (max-width: 1300px) {
  .eclipsesImg {
    width: 80%;
    height: auto;
  }
}
*/
@media screen and (max-width: 1090px) {
  .hero {
    flex-direction: column;
    min-height: max-content;
    padding-right: var(--paddingContainer);
    padding-left: var(--paddingContainer);
  }

  .leftSection {
    width: 100%;
    margin-left: 0;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .heroSignature {
    align-self: flex-end;
  }

  .rightSection {
    width: 100%;
    margin-top: 0;
    margin-bottom: 100px;
  }

  .imgMe {
    width: 250px;
    height: auto;
  }

  .eclipse {
    width: 85%;
    height: auto;
  }

  .scrollAnimationContainer {
    left: 0;
  }
}

@media screen and (max-width: 684px) {
  .hero {
    padding-left: var(--paddingContainerSm);
    padding-right: var(--paddingContainerSm);
  }

  .heroHeader {
    display: block;
    width: var(--pseudo-element-width-sm);
    line-height: 64px;
  }

  .heroHeader:before {
    width: var(--pseudo-element-width-sm) !important;
  }

  .imgMe {
    width: 200px;
    height: auto;
  }

  .eclipse {
    width: 75%;
    height: auto;
  }
}

@media screen and (max-width: 300px) {
  .heroHeader {
    display: inline-block;
    font-size: 32px !important;
  }
}
