.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.leftSection {
  width: 60%;
  border-radius: 1px;
  border-width: 1px;
  border-color: "#FF0000";
}
.rightSection {
  width: 40%;
  margin-top: -2%;
  opacity: 0;
}
.heroHeader {
  margin-top: 100px;
  margin-left: 150px;
  font-weight: 700;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.9);
}
.heroParagraph {
  width: 65%;
  margin-top: 48px;
  margin-left: 150px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 2.3;
  letter-spacing: 0.025em;
}
