.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.animationContainer {
  position: fixed;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: linear-gradient(180deg, #f9f9f9 0%, rgba(249, 249, 249, 0) 100%);
  overflow-y: hidden;
  overflow-x: hidden;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  width: 25%;
  height: auto;
}

.exitIconContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: var(--navHeight);
}

.mobileNavContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: calc(var(--paddingContainerSm) * 2);
  padding-right: var(--paddingContainerSm);
  background: linear-gradient(90deg, #f3f3f3 0%, #ffffff 100%);
  z-index: 10;
}

@media screen and (max-width: 684px) {
  .mobileNavContainer {
    padding-left: var(--paddingContainerSm);
    font-size: 0.9em;
  }
}
