.container {
  display: flex;
  flex-direction: row;
}

.headerRed {
  color: var(--red);
}

.headerRed:before {
  background-color: var(--red);
}

.aboutImgContainer {
  width: 35%;
  display: flex;
  justify-content: center;
}

.img {
  width: 300px;
  height: auto;
}

.img:after {
  content: "";
  background: url("../../assets/img/orange.png"); /*url of image*/
  height: 16px; /*height of image*/
  width: 33px; /*width of image*/
  position: absolute;
}

.aboutContentContainer {
  width: 65%;
  padding-left: 16px;
  padding-right: 16px;
}

.aboutHeader {
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0.025em;

  color: rgba(0, 0, 0, 0.9);
  font-family: "Dancing Script", cursive;
}

.aboutParagraph {
  margin-top: 1em;
  font-size: 16px;
  line-height: var(--line-height-1);
  letter-spacing: 0.025em;

  color: rgba(64, 64, 64, 0.9);
}

.contactBtn {
  margin-left: auto;
  margin-top: 64px;
  background: var(--red);
}

@media screen and (max-width: 1090px) {
  .img {
    width: 250px;
    height: 268px;
  }
  .container {
    flex-direction: column;
  }

  .aboutImgContainer {
    width: 100%;
    padding-bottom: 50px;
  }

  .aboutContentContainer {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 96px;
  }

  .aboutParagraph {
    text-align: center;
  }

  .contactBtn {
    margin-right: auto;
  }

  .aboutHeader {
    text-align: center;
  }
}

@media screen and (max-width: 684px) {
  .container {
    flex-direction: column;
  }

  .aboutImgContainer {
    width: 100%;
    padding-bottom: 50px;
  }

  .aboutContentContainer {
    width: 100%;
    padding-left: 0px;
  }
}
