.mobileNavContentContainer {
  display: flex;
  align-items: center;
  height: calc(
    100vh - var(--navHeight)
  ); /*spacje między operatorem bo inaczej nie działa*/
}

.mobileNavLi {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */

  color: #242424;

  text-shadow: 2px 3px 24px rgba(185, 185, 185, 0.4);
}

/*** icons ***/

.icon {
  margin-right: 24px;
}

.iconProjects {
  margin-right: 24px;
}

.iconProjects > * {
  fill: var(--halfPurple);
  transition: 0.2s ease-in;
}

.mobileNavLi:hover .iconProjects > * {
  fill: var(--purple);
  transition: 0.2s ease-in;
}

.iconAboutMe {
  margin-right: 24px;
  transition: 0.2s ease-in;
}

.iconAboutMe > * {
  fill: var(--halfRed);
}

.mobileNavLi:hover .iconAboutMe > * {
  fill: var(--red);
  transition: 0.2s ease-in;
}

.iconSkills {
  margin-right: 24px;
}

.iconSkills > * {
  fill: var(--halfGreen);
  transition: 0.2s ease-in;
}

.mobileNavLi:hover .iconSkills > * {
  fill: var(--green);
  transition: 0.2s ease-in;
}

.iconContact {
  margin-right: 24px;
  transition: 0.2s ease-in;
}

.iconContact > * {
  fill: var(--halfOrange);
}

.mobileNavLi:hover .iconContact > * {
  fill: var(--orange);
  transition: 0.2s ease-in;
}
