.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 12vh;

  background: linear-gradient(180deg, #f9f9f9 0%, rgba(249, 249, 249, 0) 100%);
  filter: drop-shadow(0px 1px 24px rgba(187, 187, 187, 0.15));
}
.logo {
  position: absolute;
  left: var(--paddingContainer);
  display: flex;
  align-items: center;
}
.ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.li {
  margin-right: 24px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
}
.icon {
  margin-right: 4px;
}

.hamburgerMenuContainer {
  position: absolute;
  align-items: center;
  height: 100%;
  right: var(--paddingContainerSm);
  display: none;
}

@media screen and (max-width: 1090px) {
  .nav {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 684px) {
  .logo {
    left: var(--paddingContainerSm);
  }

  .ul {
    display: none;
  }

  .hamburgerMenuContainer {
    display: flex;
  }
}
