.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: var(--navHeight);
  background: linear-gradient(
    180deg,
    #f9f9f9 100%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(0px 2px 16px rgba(143, 143, 143, 0.25));
  z-index: 5;
}
.logo {
  position: absolute;
  left: var(--paddingContainer);
  display: flex;
  align-items: center;
}
.ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.li {
  margin-right: 24px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}
.icon {
  margin-right: 8px;
}

.hamburgerMenuContainer {
  position: absolute;
  align-items: center;
  height: 100%;
  right: var(--paddingContainerSm);
  display: none;
}

@media screen and (max-width: 1090px) {
  .nav {
    margin-bottom: 0;
  }

  .logo {
    left: var(--paddingContainerSm);
  }
}

@media screen and (max-width: 684px) {
  .logo {
    left: var(--paddingContainerSm);
  }

  .ul {
    display: none;
  }

  .hamburgerMenuContainer {
    display: flex;
  }
}
